<template>
    <div class="advantage-list">
        <div class="articles">
            <div class="articles__el" v-for="item in advantagesList" :key="item.id">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img :src=item.icon :alt=item.title>
                    </div>
                    <h3 class="advantage__title">{{ item.title }}</h3>
                    <p>{{ item.text }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Advantages",
        data() {
            return {
                advantagesList: [
                    {title: 'experts', text: 'in latest technologies. over 80 full-time employees', icon: require('@/assets/images/advantages/experts.svg')},
                    {title: 'know-how', text: 'we sucessfully deliver pojects since 2008', icon: require('@/assets/images/advantages/know-how.svg')},
                    {title: 'full cycle', text: 'we guarantee your projects are ready for launch', icon: require('@/assets/images/advantages/full-cycle.svg')},
                    {title: 'communication', text: 'we always stay in touch via any  communication channel', icon: require('@/assets/images/advantages/communication.svg')},
                    {title: 'flexible payments', text: 'choose payment plans and means that is convinient for you', icon: require('@/assets/images/advantages/flex.svg')},
                    {title: 'warranty', text: 'we make sure your projects are ready for launch', icon: require('@/assets/images/advantages/warranty.svg')}
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .advantage-list {
        padding-top: 25px;
    }
    .advantage {
        padding: 0 15%;
        text-align: center;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            margin: 0 auto 28px;
        }

        &__title {
            margin: 0 0 .85em;
            font-size: 16px;
            @include font-face-bold;
        }
    }
</style>