<template>
    <div class="clients">
        <div class="clients__el" v-for="item in clientsList" :key=item.id>
            <div class="client-el">
                <img :src=item.logo :alt=item.name>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Clients",
        data() {
            return {
                clientsList: [
                    {name: 'Nike',logo: require('@/assets/images/clients/nike.svg')},
                    {name: 'Yhe North Face',logo: require('@/assets/images/clients/thenorthface.svg')},
                    {name: 'Mont Blank',logo: require('@/assets/images/clients/montblanc.svg')},
                    {name: 'Warner',logo: require('@/assets/images/clients/warner.svg')},
                    {name: 'IBM',logo: require('@/assets/images/clients/ibm.svg')},
                    {name: 'Target',logo: require('@/assets/images/clients/target.svg')},
                    {name: 'Mac',logo: require('@/assets/images/clients/macdonalds.svg')},
                    {name: 'FedEx',logo: require('@/assets/images/clients/fedex.svg')}
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    .clients {
        display: flex;
        flex-wrap: wrap;

        &__el {
            width: 25%;
        }
    }

    .client-el {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 50%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-height: 90%;
            max-width: 90%;
        }
    }
</style>