<template>
    <section class="contacts">
        <svg id="line-contacts" viewBox="0 0 1440 250" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 147.001C50 147.001 261.251 41.3103 210.779 107.978C98.8956 255.765 357.877 22.2322 720 163.001C942.741 249.588 1048.5 331.499 1315.63 73.9171C1370 21.4877 1411.83 7.2347 1440 2.00098" stroke="white" stroke-width="4"/>
        </svg>
        <div class="container">
            <div class="contacts__info">
                <div class="contacts__descr">
                    <h2 class="h2">let’s create something beautiful together</h2>
                </div>
                <div class="contacts__btn elementCursorGrowing elementCursorDark elementCursorFollow"></div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Contacts"
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .contacts {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 740px;

        .h2 {
            margin: 0;
            color: #fff;
        }

        &__info {
            position: relative;
            width: 100%;
            text-align: center;
            z-index: 2;
        }

        &__descr {
            position: absolute;
            left: 0;
            right: 0;
            bottom: calc(100% + 30px);
            max-width: 400px;
            margin: 0 auto;
        }

        &__btn {
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -1px);
                display: block;
                width: 20px;
                height: 2px;
                background: $color__main;
                transition: .25s ease-out;
            }
            &::after {
                transform: rotate(90deg) translate(-1px, 10px);
            }

            &:hover {
                &::before {
                    width: 34px;
                    transform: translate(-50%, -1px);
                }
                &::after {
                    width: 34px;
                    transform: rotate(90deg) translate(-1px, 17px);
                }
            }
        }
    }

    #line-contacts {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -50px;
        transform: translateY(-50%);
        height: auto;
    }
</style>