<template>
    <div class="cursor-custom" id="cursor"></div>
</template>

<script>
    import TweenLite from "gsap/TweenMax"
    export default {
        name: "CursorCustom",
        mounted() {
            let circle = document.getElementById('cursor');
            let elementCursorFollow = document.getElementsByClassName('elementCursorFollow');
            function moveCursor(e) {
                TweenLite.to(circle, 0.1, {
                    css: {
                        y: window.scrollY > 0 ? e.pageY - window.scrollY : e.pageY,
                        x: e.pageX,
                        z: -10
                    }
                });
            }
            function followCursorRemove() {
                TweenLite.to(this, 0.81, {
                    css: {
                        y: 0,
                        x: 0,
                        z: 0
                    }
                });
            }

            window.addEventListener('mousemove', moveCursor);

            for(let i = 0; i < elementCursorFollow.length; i++) {
                let rect = elementCursorFollow[i].getBoundingClientRect();
                let rectH = rect.height;
                let rectW = rect.width;
                let rectTop = rect.top;
                let rectLeft = rect.left;
                elementCursorFollow[i].addEventListener('mousemove', function (e) {
                    TweenLite.to(this, 0.81, {
                        css: {
                            y: e.clientY < rectTop || e.clientY > rectTop + rectH  ? 0 : e.clientY - (rectTop + rectH / 2),
                            x: e.clientX < rectLeft || e.clientX > rectLeft + rectW  ? 0 : e.clientX - (rectLeft + rectW / 2),
                            z: 0
                        }
                    });
                });
                elementCursorFollow[i].addEventListener('mouseleave', followCursorRemove);
            }

            function onCursorPrev() {
                circle.classList.add('cursor-custom_prev')
            }
            function offCursorPrev() {
                circle.classList.remove('cursor-custom_prev')
            }
            function onCursorNext() {
                circle.classList.add('cursor-custom_next')
            }
            function offCursorNext() {
                circle.classList.remove('cursor-custom_next')
            }
            function onelementCursorGrowing() {
                circle.classList.add('cursor-custom_big')
            }
            function offelementCursorGrowing() {
                circle.classList.remove('cursor-custom_big')
            }
            function onCursorLight() {
                circle.classList.add('cursor-custom_light')
            }
            function offCursorLight() {
                circle.classList.remove('cursor-custom_light')
            }
            function onCursorDark() {
                circle.classList.add('cursor-custom_dark')
            }
            function offCursorDark() {
                circle.classList.remove('cursor-custom_dark')
            }
            function onCursorChangeable() {
                circle.classList.add('cursor-custom_changeable')
            }
            function offCursorChangeable() {
                circle.classList.remove('cursor-custom_changeable')
            }

            let nextBtn = document.getElementsByClassName('slider__next');
            nextBtn[0].addEventListener('mouseover', onCursorNext );
            nextBtn[0].addEventListener('mouseleave',offCursorNext);

            let prevBtn = document.getElementsByClassName('slider__prev');
            prevBtn[0].addEventListener('mouseover', onCursorPrev );
            prevBtn[0].addEventListener('mouseleave',offCursorPrev);

            let blockGrowingCursor = document.getElementsByClassName('elementCursorGrowing');
            for (let i = 0; i < blockGrowingCursor.length; i++) {
                blockGrowingCursor[i].addEventListener('mouseover', onelementCursorGrowing);
                blockGrowingCursor[i].addEventListener('mouseleave',offelementCursorGrowing);
            }

            let blockDarkCursor = document.getElementsByClassName('elementCursorLight');
            for (let i = 0; i < blockDarkCursor.length; i++) {
                blockDarkCursor[i].addEventListener('mouseover', onCursorLight);
                blockDarkCursor[i].addEventListener('mouseleave',offCursorLight);
            }

            let blockLightCursor = document.getElementsByClassName('elementCursorDark');
            for (let i = 0; i < blockLightCursor.length; i++) {
                blockLightCursor[i].addEventListener('mouseover', onCursorDark);
                blockLightCursor[i].addEventListener('mouseleave',offCursorDark);
            }

            let blockChangeable = document.getElementsByClassName('blockChangeable');
            for (let i = 0; i < blockChangeable.length; i++) {
                blockChangeable[i].addEventListener('mouseover', onCursorChangeable);
                blockChangeable[i].addEventListener('mouseleave',offCursorChangeable);
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .cursor-custom {
        position: fixed;
        width: 40px;
        height: 40px;
        top: -20px;
        left: -20px;
        border: 2px solid $color__main;
        border-radius: 50%;
        backface-visibility: hidden;
        background: transparent;
        z-index: 1000;
        pointer-events: none;
        transition: background .25s ease-out,  width .25s ease-out, height .25s ease-out, top .25s ease-out, left .25s ease-out, border-color .25s ease-out;
        opacity: .5;

        //mix-blend-mode: exclusion;

        &_light {
            border-color: #fff;
        }

        &_dark {
            border-color: $color__main;
        }

        &_big {
            width: 80px;
            height: 80px;
            top: -40px;
            left: -40px;
            background: $color__main;
            opacity: .3;

            &.cursor-custom_light {
                background: #fff;
            }
            &.cursor-custom_dark {
                background: $color__main;
            }
            &.cursor-custom_changeable {
                background: $color__main;

                .blockDark_visible & {
                    background: #fff;
                }
            }
        }

        &_changeable {
            border-color: $color__main;

            .blockDark_visible & {
                border-color: #fff;
            }
        }

        &_prev,
        &_next {
            width: 120px;
            height: 120px;
            top: -60px;
            left: -60px;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-image: url("~@/assets/images/arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &_prev {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
</style>