<template>
    <div class="articles">
        <div class="articles__el" v-for="item in listExperience" :key="item.id">
            <div class="experience">
                <p class="experience__text">{{ item.title }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Experience",
        data() {
            return {
                listExperience: [
                    {title: 'business solutions'},
                    {title: 'e-commerce'},
                    {title: 'blockchain'},
                    {title: 'booking & event platforms'},
                    {title: 'fintech'},
                    {title: 'mobile apps'}
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';

    .experience {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        background: $color__bg-light;

        &__text {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            text-align: center;
        }
    }
</style>