<template>
    <div class="humb elementCursorGrowing blockChangeable elementCursorFollow">
        <i class="humb__icon"></i>
    </div>
</template>

<script>
    export default {
        name: "Humb"
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .humb {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 60px;
        right: 60px;
        height: $height__header-element;
        width: $height__header-element;
        z-index: 100;

        &__icon {
            position: relative;

            &,
            &::before,
            &::after {
                display: block;
                width: 30px;
                height: 2px;
                background: $color__title;

                .blockDark_visible & {
                    background: #fff;
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
            }

            &::before {
                top: -8px;
            }

            &::After {
                bottom: -8px;
            }

        }
    }
</style>