<template>
    <div class="logo elementCursorGrowing blockChangeable elementCursorFollow">
        <svg class="logo__img" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39" stroke="#314359" stroke-width="2"/><path d="M37.0119 50L28.4039 27.6H26.0999L17.4919 50H19.8599L21.9399 44.496H32.5639L34.6439 50H37.0119ZM27.2519 30.384L31.7639 42.384H22.7399L27.2519 30.384ZM39.8881 50H42.1281V27.6H39.8881V50ZM53.9906 50.384C56.2626 50.384 58.0866 49.808 59.4626 48.688C60.8386 47.536 61.5426 46 61.5426 44.112C61.5426 42.96 61.1586 41.904 60.7426 41.232C60.3586 40.496 59.2386 39.728 58.5986 39.344C58.2786 39.12 57.7666 38.896 57.0946 38.64C56.4226 38.352 55.9106 38.16 55.5586 38.064L53.8306 37.456C52.0706 36.88 50.7906 36.304 50.0226 35.76C49.2546 35.216 48.8706 34.384 48.8706 33.264C48.8706 30.832 50.7266 29.392 53.5106 29.392C56.1666 29.392 57.9906 30.64 59.0146 33.104L60.9026 32.048C59.6546 29.232 56.9986 27.216 53.5106 27.216C51.5586 27.216 49.9266 27.76 48.6146 28.88C47.3026 29.968 46.6306 31.472 46.6306 33.36C46.6306 35.312 47.4946 36.784 49.1906 37.808C49.9266 38.288 51.4626 38.896 53.7986 39.664C55.7506 40.304 57.1586 40.912 58.0226 41.52C58.8866 42.128 59.3026 42.992 59.3026 44.176C59.3026 46.608 57.3506 48.208 54.0226 48.208C50.5986 48.208 48.3906 46.576 47.5906 43.792L45.6706 44.912C46.8226 48.336 49.8946 50.384 53.9906 50.384Z" fill="#314359"/>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "Logo"
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .logo {
        position: fixed;
        top: 60px;
        left: 60px;
        border-radius: 50%;
        z-index: 100;

        &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 50%;
            transition: .3s ease-in-out;
        }

        &__img {
            position: relative;
            width: $height__header-element;
            height: $height__header-element;
            z-index: 2;

            circle {
                stroke: $color__title;
            }
            path {
                fill: $color__title;
            }

            .blockDark_visible & {
                circle {
                    stroke: #fff;
                }
                path {
                    fill: #fff;
                }
            }
         }
    }
</style>