<template>
    <nav class="menu-footer">
        <div class="container">
            <ul class="menu-footer__list">
                <li class="menu-footer__el">
                    <a class="elementCursorGrowing" href="mailto:hello@aisnovations.com">hello@aisnovations.com</a>
                </li>
                <li class="menu-footer__el">
                    <a class="elementCursorGrowing" href="#">behance</a>
                </li>
                <li class="menu-footer__el">
                    <a class="elementCursorGrowing" href="#">dribbble</a>
                </li>
                <li class="menu-footer__el">
                    <a class="elementCursorGrowing" href="#">instagram</a>
                </li>
                <li class="menu-footer__el">
                    <a class="elementCursorGrowing" href="#">linkedin</a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "MenuFooter"
    }
</script>

<style lang="scss" scoped>
    .contacts + .menu-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
    }

    .menu-footer {
        &__list {
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__el {
            margin: 0;
            padding: 0;

            > a,
            > span {
                display: inline-block;
                line-height: 3;
                color: #fff;
            }
        }
    }
</style>