<template>
    <section class="slider blockDark elementCursorLight">
        <swiper class="noSwiping" ref="mySwiper" :options="swiperOption">
            <svg id="line" class="line" width="5760" height="322" viewBox="0 0 5760 322" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path class="linePath"
                      d="M0 114.969C49.948 114.969 163.829 206.704 344.641 115.909C525.452 25.1131 586.389 271.742 450.031 317.676C392.626 337.013 345.748 230.801 522.103 179.875C698.458 128.948 1216.22 0.324777 1103.85 147.921C982.975 306.692 1658.27 -98.7226 1528.41 75.0264C1398.54 248.775 1726.2 294.814 1842.08 165.948C1957.96 37.0813 1903.02 2.13168 1800.12 123.956C1697.23 245.78 1997.92 -4.85823 2159.75 134.94C2321.58 274.738 2960.91 -128.679 2697.19 134.94C2433.46 398.559 3202.66 -38.8091 3090.78 108.977C2978.9 256.764 3238.13 -5.82883 3600.25 134.94C3822.99 221.527 3838 358.617 4195.63 74.9161C4553.25 -208.785 4225.6 446.38 4697.11 167.283C4958.83 12.3616 4237.59 250.773 5040.75 134.94C5453.32 75.438 5526.24 -18.8381 5421.35 104.983C5347.67 191.966 5247.63 296.567 5371.41 228.305C5516.25 148.421 5640.12 114.969 5760 114.969"/>
            </svg>
            <svg id="lineSecond" class="line" width="5760" height="322" viewBox="0 0 5760 322" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path class="linePath"
                      d="M0 114.969C49.948 114.969 163.829 206.704 344.641 115.909C525.452 25.1131 586.389 271.742 450.031 317.676C392.626 337.013 345.748 230.801 522.103 179.875C698.458 128.948 1216.22 0.324777 1103.85 147.921C982.975 306.692 1658.27 -98.7226 1528.41 75.0264C1398.54 248.775 1726.2 294.814 1842.08 165.948C1957.96 37.0813 1903.02 2.13168 1800.12 123.956C1697.23 245.78 1997.92 -4.85823 2159.75 134.94C2321.58 274.738 2960.91 -128.679 2697.19 134.94C2433.46 398.559 3202.66 -38.8091 3090.78 108.977C2978.9 256.764 3238.13 -5.82883 3600.25 134.94C3822.99 221.527 3838 358.617 4195.63 74.9161C4553.25 -208.785 4225.6 446.38 4697.11 167.283C4958.83 12.3616 4237.59 250.773 5040.75 134.94C5453.32 75.438 5526.24 -18.8381 5421.35 104.983C5347.67 191.966 5247.63 296.567 5371.41 228.305C5516.25 148.421 5640.12 114.969 5760 114.969"/>
            </svg>
            <swiper-slide v-for="item in slides" :key="item.id">
                <div class="slider__info">
                    <h2 class="slider__title">{{ item.title }}</h2>
                    <div class="slider__image elementCursorDark" v-html=item.image></div>
                    <div class="slider__descr">
                        <p class="slider__text">{{ item.text }}</p>
                        <a href="#" class="slider__more elementCursorGrowing"><span>more</span></a>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
        <div class="slider__pagination swiper-pagination"></div>
        <div class="slider__next"></div>
        <div class="slider__prev"></div>
        <div class="mouse">
            <svg class="icon icon-mouse">
                <use xlink:href="~@/assets/images/sprite.svg#mouse"></use>
            </svg>
        </div>
    </section>
</template>

<script>
    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    import Snap from 'snapsvg'
    import Power0 from "gsap/TweenMax"

    export default {
        name: 'Slider',
        components: {
            swiper,
            swiperSlide
        },
        data() {
            return {
                swiperOption: {
                    loop: true,
                    //loopFillGroupWithBlank: true,
                    //loopAdditionalSlides: 8,
                    speed: 1500,
                    slidesPerView: 1,
                    noSwiping: true,
                    noSwipingClass: 'noSwiping',
                    pagination: {
                        el: '.slider__pagination',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '.slider__next',
                        prevEl: '.slider__prev',
                    },
                },
                slides: [
                    {
                        title: 'back-end dev',
                        text: 'Rocket fast backend with latest technologies',
                        image: '<svg id="svg-backend" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                            '<path id="svg-backend__line" d="M6 11V23M50 45V33M6 33V45M28 23V11M28 33V45M50 23V11M11 51H23M33 6H45" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="6" cy="6" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="28" cy="6" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="50" cy="6" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="6" cy="28" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="28" cy="28" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="50" cy="28" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="6" cy="50" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="28" cy="50" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="50" cy="50" r="5" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="6" cy="6" r="5" stroke="#69A9FC" stroke-width="2"/></svg>'
                    },
                    {
                        title: 'front-end dev',
                        text: 'Engaging interaction with state of the art frameworks',
                        image: '<svg id="svg-frontend" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                            '<path d="M40 12V36" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<path d="M24 0V48" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<path d="M8 12V36" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle id="svg-frontend__right" cx="40" cy="36" r="5" fill="#69A9FC"/>\n' +
                            '<circle cx="24" cy="24" r="5" fill="#69A9FC"/>\n' +
                            '<circle id="svg-frontend__left" cx="8" cy="12" r="5" fill="#69A9FC"/></svg>'
                    },
                    {
                        title: 'design',
                        text: 'Beautiful web design with illustrations and animation',
                        image: '<svg id="svg-design" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                            '<path d="M24 2C36.1503 2 46 11.8497 46 24C46 36.1503 36.1503 46 24 46C11.8497 46 2 36.1503 2 24C2 11.8497 11.8497 2 24 2Z" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle id="svg-design__circle" cx="24" cy="24" r="6" fill="#69A9FC"/></svg>'
                    },
                    {
                        title: 'quality assurance',
                        text: 'Rigorous manual and automated testing',
                        image: '<svg id="svg-testing" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                            '<circle cx="10" cy="38" r="9" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<path id="svg-testing__small" d="M1 38H10" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="10" cy="38" r="3" fill="#69A9FC"/>\n' +
                            '<circle cx="29" cy="19" r="17" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<circle cx="29" cy="19" r="8" stroke="#69A9FC" stroke-width="2"/>\n' +
                            '<path id="svg-testing__big" d="M29 27V36" stroke="#69A9FC" stroke-width="2"/></svg>'
                    }
                ]
            }
        },
        mounted() {
            class Shape {
                constructor(el) {
                    // DOM Variables
                    this.DOM = {el: el};

                    // Init Snap
                    Snap(this.DOM.el);

                    this.pathOne = Snap.selectAll('.linePath');

                    this.initAnimations();
                }

                initAnimations() {
                    this.animateToPathTwo(this.pathOne, this);
                }

                animateToPathOne(shape, handler) {
                    shape.animate({
                        d: 'M0,114c49.9,0,163.8,91.7,344.6,0.9C525.5,24.1,588,316.7,450,316.7\n' +
                            '\t\tc-57,0-104.3-86.9,72.1-137.8c176.4-50.9,694.1-179.6,581.7-32C983,305.7,1658.3-99.7,1528.4,74\n' +
                            '\t\tc-129.9,173.7,197.8,219.8,313.7,90.9c115.9-128.9,60.9-163.8-42-42c-102.9,121.8,197.8-128.8,359.6,11\n' +
                            '\t\tc161.8,139.8,801.2-263.6,537.4,0c-263.7,263.6,505.5-173.7,393.6-26c-111.9,147.8,147.3-114.8,509.5,26\n' +
                            '\t\tc222.7,86.6,237.8,223.7,595.4-60c357.6-283.7,30,371.5,501.5,92.4c261.7-154.9-459.5,83.5,343.6-32.3\n' +
                            '\t\tc412.6-59.5,485.5-153.8,380.6-30c-73.7,87-173.7,191.6-49.9,123.3C5516.3,147.4,5640.1,114,5760,114'
                    }, 4500, Power0.easing, function () {
                        handler.animateToPathTwo(shape, handler);
                    });
                }

                animateToPathTwo(shape, handler) {
                    shape.animate({
                        d: 'M0,114c49.9,0,98.2,24.8,279-66c180.8-90.8,309,268.7,171,268.7\n' +
                            '\t\tc-57,0-104.3-86.9,72.1-137.8c176.4-50.9,521.9-91.8,581.7-32C1213,256,1379,63,1512,63c130.6,0,214.2,230.8,330.1,101.9\n' +
                            '\t\tC1958,36.1,1797-49,1797,91c0,125.9,304,118,362.8,42.9c108.6-108.6,428.1-79.1,507.3,0.1c122.5,122.5,423.8-114,423.8-26\n' +
                            '\t\tc0,128,359.7,150.5,507.2,3c159.5-159.5,295,291,586,0c223.5-223.5,31,441,400,82c116.8-116.8-347.5,62.1,456.8-59.1\n' +
                            '\t\tc412.6-59.5,560.4-209.8,380.6-30c-146.2,146.2-210.1,107.3-86.4,39c144.8-79.9,305.1-29,425-29'
                    }, 4500, Power0.easing, function () {
                        handler.animateToPathThree(shape, handler);
                    });
                }

                animateToPathThree(shape, handler) {
                    shape.animate({
                        d: 'M0,114c49.9,0,184,205,288,101c82.5-82.5,246.5,22.5,183,86\n' +
                            '\t\tc-37.5,37.5-100.1-169,50-169c292.9,0,582.8,147,582.8,14.9C1103.8-11.2,1546.6-40,1542,68c0,93,184.2,225.8,300.1,96.9\n' +
                            '\t\tC1958,36.1,1653.5,43.5,1736,126c75.8,75.8,289.9,18.1,432.8,14.9c154.2,0,498.2-265.8,498.2-6.9c0,199.1,551,96,449-6\n' +
                            '\t\tc-79-79,146-112,426,49c229,120,542-215,701-80c122,99,260,251,419.1,103.7C4832,31,4237,133.9,5040.8,133.9\n' +
                            '\t\tc370.4,0,485.5-153.8,380.6-30c-73.7,87-231.4,178-116.8,178c140.4,0,335.5-168,455.4-168'
                    }, 4500, Power0.easing, function () {
                        handler.animateToPathOne(shape, handler);
                    });
                }
            }

            new Shape(document.getElementById('line'));

            window.onload = function() {
                document.getElementsByClassName('slider')[0].classList.add('slider_load');
            };
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/assets/styles/dev.scss';
    $speed: 1500ms;

    .swiper-container {
        position: relative;
        height: 100vh;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            display: block;
        }
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .swiper-slide-active {
        opacity: 1;
        .slider__title {
            transition-delay: ($speed - 1300ms);
        }
        .slider__text {
            transition-delay: ($speed - 1200ms);
        }
        .slider__more {
            transition-delay: ($speed - 1100ms);
        }
        .slider__info {
            //opacity: 1;
        }

        .slider_load & {
            .slider__title {
                transition-delay: ($speed - 500ms);
            }
            .slider__text {
                transition-delay: ($speed - 400ms);
            }
            .slider__more {
                transition-delay: ($speed - 300ms);
            }
        }
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        .slider__info {
            /*opacity: 0;*/
        }
    }

    .swiper-pagination {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;

        /deep/ .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin: 0 6px;
            background: transparent;
            border: 2px solid #fff;
            outline: none;
            opacity: 1;
        }

        /deep/ .swiper-pagination-bullet-active {
            background: #fff;
        }
    }

    .slider {
        position: relative;
        background: linear-gradient(122.01deg, #66A9FF 0%, #6DE8F2 100%);

        /deep/ .swiper-wrapper {
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1)!important;
            /*transition-timing-function: cubic-bezier(.2, 0, .1, 1)!important;*/
        }

        &__info {
            position: relative;
            width: 230px;
            height: 148px;
            font-size: 16px;
            line-height: (19/16);
            text-align: center;
            transition: opacity .3s ease-out;
            z-index: 3;
        }

        &__title {
            position: absolute;
            bottom: calc(100% + 26px);
            left: 50%;
            display: inline-block;
            margin: 0;
            padding: 0 18px;
            font-size: 16px;
            @include font-face-regular;
            white-space: nowrap;
            color: #fff;
            opacity: 0;
            transform: translateX(0);
            transition: opacity .5s ease-in, transform .8s cubic-bezier(0, 0, .35, 1);

            .swiper-slide-active & {
                opacity: 1;
                transform: translateX(-50%);
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: .42em;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
            }

            &::before {
                left: 0;
                border-right: 6px solid #fff;
            }

            &::after {
                right: 0;
                border-left: 6px solid #fff;
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 148px;
            height: 148px;
            margin: 0 auto;
            border-radius: 50%;
            background: #fff;

            /deep/ svg, /deep/ img {
                width: 56px;
                height: 56px;
            }

            /deep/ #svg-backend__line {
                animation: animation-backend 2s steps(1,end) infinite;
            }

            /deep/ #svg-frontend__right {
                animation: animation-frontend-right 1.35s ease-in-out alternate infinite;
            }

            /deep/ #svg-frontend__left {
                animation: animation-frontend-left 1.35s ease-in-out alternate infinite;
            }

            /deep/ #svg-design__circle {
                animation: animation-design 3.5s infinite;
            }

            /deep/ #svg-testing__small {
                transform-origin: 10px 38px;
                animation: animation-testing 2s linear infinite;
            }

            /deep/ #svg-testing__big {
                transform-origin: 29px 19px;
                animation: animation-testing 2s linear infinite;
            }
        }

        &__descr {
            position: absolute;
            top: calc(100% + 24px)
        }

        &__text {
            margin: 0;
            opacity: 0;
            transform: translateX(40px);
            transition: opacity .5s ease-in, transform .8s cubic-bezier(0, 0, .35, 1);

            .swiper-slide-active & {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &__more {
            display: inline-block;
            margin-top: 15px;
            color: #fff;
            line-height: 3;
            opacity: 0;
            transform: translateX(40px);
            transition: opacity .5s ease-in, transform .8s cubic-bezier(0, 0, .35, 1);

            .swiper-slide-active & {
                opacity: 1;
                transform: translateX(0);
            }

            span {
                position: relative;
                display: inline-block;
                transform: translateX(0);
                transition: transform .25s ease-out;

                &:hover {
                    transform: translateX(6px);

                    &::after {
                        transform: translateX(4px);
                    }
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 22px;
                    height: 8px;
                    margin-left: 6px;
                    background: url("~@/assets/images/more.svg") center no-repeat;
                    transform: translateX(0);
                    transition: transform .25s .15s ease-out;
                }
            }
        }

        &__prev,
        &__next {
            position: absolute;
            top: 0;
            bottom: 0;
            width: calc(50% - 150px);
            display: block;
            z-index: 10;
            outline: none;

            &:hover {
                cursor: none;
            }
        }

        &__prev {
            left: 0;
        }

        &__next {
            right: 0;
        }
    }

    .mouse {
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        line-height: 0;
        animation: animation-mouse 4s ease-in-out infinite;

        .icon {
            display: inline-block;
            width: 18px;
            height: 30px;
        }
    }

    .line {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 400%;
        height: auto;
        transform: translateY(-50%);
        z-index: 2;
        opacity: .85;
    }

    #lineSecond {
        left: 400%;
    }

    .linePath {
        stroke: #fff;
        stroke-width: 4px;
    }

    @keyframes animation-mouse {
        from {transform: translateY(0);}
        15% {transform: translateY(-10px);}
        30% {transform: translateY(0);}
        45% {transform: translateY(-10px);}
        60% {transform: translateY(0);}
        to {transform: translateY(0);}
    }

    @keyframes animation-backend {
        0% {transform: rotate(0) translate(0, 0)}
        50% {transform: rotate(90deg) translate(0px, -56px)}
        100% {transform: rotate(0) translate(0, 0)}
    }

    @keyframes animation-frontend-right {
        0% {transform: translate(0, 0)}
        100% {transform: translate(0, -24px)}
    }

    @keyframes animation-frontend-left {
        0% {transform: translate(0, 0)}
        100% {transform: translate(0, 24px)}
    }

    @keyframes animation-design {
        0% {transform: translateX(0)}
        25% {transform: translateX(10px)}
        50% {transform: translateX(0)}
        75% {transform: translateX(-10px)}
        100% {transform: translateX(0)}
    }

    @keyframes animation-testing {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(360deg)}
    }
</style>
