<template>
    <div class="team">
        <svg class="team__line" fill="none" viewBox="0 0 1440 198" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 139.014C150 139 382-115 239 99 95.958 313 117-46 557 107.032 795.017 189.814 1254 264 1353 66s-326 130 87 130" stroke="#F7F8FA" stroke-width="4"/>
        </svg>
        <div class="container container_narrow">
            <div class="team__row">
                <div class="team__descr">
                    <h2 class="h2">the people who bring your projects to life</h2>
                    <ViewLink text="view our team" href="#"/>
                </div>
                <div class="team__media">
                    <div class="team__media-inner">
                        <img src="~@/assets/images/team/team_01.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ViewLink from './ViewLink.vue'
    export default {
        name: "Team",
        components: {
            ViewLink
        }
    }
</script>

<style lang="scss" scoped>
    .team {
        position: relative;

        &__line {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            height: auto;
        }

        &__row {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 2;
        }

        &__descr {
            width: 100%;
            padding-right: 80px;
        }

        .h2 {
            margin-top: 0;
            margin-bottom: .8em;
        }

        &__media {
            flex-shrink: 0;

            &-inner {
                width: 400px;
                height: 400px;
                border-radius: 50%;
            }
        }
    }
</style>