<template>
    <a href="#" class="view elementCursorGrowing">
        <span>{{ text }}</span>
    </a>
</template>

<script>
    export default {
        name: "ViewLink",
        props: ['text']
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .view {
        position: relative;
        display: inline-block;
        color: $color__text-dark;
        padding-right: 37px;
        line-height: 3;

        &:hover {
            span {
                transform: translateX(-14px);
            }

            &::before {
                top: 6px;
                width: 38px;
                height: 38px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 12px;
            //transform: translate(0, -50%);
            right: 0;
            display: block;
            width: 24px;
            height: 24px;
            background: url("~@/assets/images/plus.svg") center no-repeat;
            background-size: cover;
            transition: all .2s .03s ease-in;
        }

        span {
            display: inline-block;
            line-height: 1.4;
            transform: translateX(0);
            transition: transform .25s .06s ease-in;
        }
    }
</style>