<template>
    <div class="works-slider">
        <div class="container container_narrow">
            <swiper ref="mySwiper" :options="worksSliderOption">
                <swiper-slide v-for="(item, index) in worksList" :key="item.id">
                    <a href="#" class="works-slider__el elementCursorGrowing">
                        <div class="works-slider__descr">
                            <p class="works-slider__name">{{index > 9 ? '' : 0}}{{ index + 1 }} {{ item.name }}</p>
                            <p class="works-slider__text">{{ item.text }}</p>
                        </div>
                        <div class="works-slider__bg">
                            <img :src=item.image :alt=item.name>
                        </div>
                        <i class="works-slider__arrow"></i>
                    </a>
                </swiper-slide>
            </swiper>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</template>

<script>
    import { swiper, swiperSlide } from 'vue-awesome-swiper'
    export default {
        name: "WorksSlider",
        components: {
            swiper,
            swiperSlide
        },
        data() {
            return {
                worksSliderOption: {
                    //loop: true,
                    speed: 1000,
                    slidesPerView: 1,
                    //loopAdditionalSlides: 3,
                    initialSlide: 1,
                    mousewheel: true,
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        draggable: true,
                        dragSize: 50,
                        snapOnRelease: false
                    }
                },
                worksList: [
                    {name: 'iron tech', image: require('@/assets/images/works/work_iron_tech.jpg'), text: 'develop and promote our own mobile apps for iOS and Android'},
                    {name: 'the hive', image: require('@/assets/images/works/work_iron_tech.jpg'), text: 'we made honey gifts for my friends, who after trying them demanded I open a shop'},
                    {name: 'the hive', image: require('@/assets/images/works/work_iron_tech.jpg'), text: 'we made honey gifts for my friends, who after trying them demanded I open a shop'},
                    {name: 'the hive', image: require('@/assets/images/works/work_iron_tech.jpg'), text: 'we made honey gifts for my friends, who after trying them demanded I open a shop'},
                    {name: 'irontech', image: require('@/assets/images/works/work_iron_tech.jpg'), text: 'develop and promote our own mobile apps for iOS and Android'}
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/assets/styles/dev.scss';
    .swiper-container {
       overflow: visible;
    }

    .swiper-slide {
        padding: 0 25px;
    }

    .container {
        @include media-breakpoint-up(dtx) {
            max-width: none;
            width: 65.245%;
            min-width: 1090px;
        }
    }

    .works-slider {
        position: relative;

        .container {
            position: relative;
            padding-bottom: 80px;
        }

        &__el {
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-top: 60%;
        }

        &__bg,
        &__descr {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        &__bg {
            img {
                max-width: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__descr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 60px 30% 40px 60px;
            color: #fff;
            z-index: 2;
        }

        &__text {
            font-size: 22px;
            line-height: (28/22);
        }

        &__arrow {
            position: absolute;
            bottom: 50px;
            right: 60px;
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid rgba(255,255,255,.1);
            transform: translateX(0);
            transition: transform .3s ease-in-out;
            background: url("~@/assets/images/arrow.svg") center no-repeat;
        }

        /deep/ .swiper-scrollbar {
            position: absolute;
            left: 120px;
            right: 120px;
            bottom: 0;
            z-index: 50;
            height: 50px;
            background: transparent;

            &::before {
                content: '';
                position: absolute;
                left: -120px;
                right: -120px;
                top: 24px;
                display: block;
                height: 2px;
                background: $color__bg-light;
            }
        }

        /deep/ .swiper-scrollbar-drag {
            height: 50px;
            background: transparent;

            &::before {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                background: url("~@/assets/images/pointer.svg") center no-repeat;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 0;
                cursor: pointer;
            }
        }
    }
</style>