<template>
    <div id="app">
        <div class="page">
            <header class="header">
                <Logo/>
                <Humb/>
            </header>

            <main class="main">
                <Slider/>

                <section class="section">
                    <div class="container">
                        <div class="section__head">
                            <h2 class="h2">experience</h2>
                        </div>
                        <Experience/>
                    </div>
                </section>

                <section class="section">
                    <div class="container">
                        <div class="section__head">
                            <h2 class="h2">works</h2>
                            <ViewLink text="view all works" href="#"/>
                        </div>
                    </div>
                    <WorksSlider/>
                </section>

                <section class="section">
                    <div class="container">
                        <div class="section__head">
                            <h2 class="h2">advatages</h2>
                        </div>
                        <Advantages/>
                    </div>
                </section>

                <section class="section">
                    <Team/>
                </section>

                <section class="section">
                    <div class="container container_narrow">
                        <div class="section__head">
                            <h2 class="h2">our clients</h2>
                        </div>
                        <Clients/>
                    </div>
                </section>
            </main>

            <footer class="footer blockDark elementCursorLight">
                <Contacts/>
                <MenuFooter/>
            </footer>
            <CursorCustom/>
        </div>
    </div>
</template>

<script>
    import ViewLink from './components/ViewLink.vue'
    import Logo from './components/Logo.vue'
    import Humb from './components/Humb.vue'
    import Slider from './components/Slider.vue'
    import CursorCustom from './components/CursorCustom.vue'
    import Experience from './components/Experience.vue'
    import WorksSlider from './components/WorksSlider.vue'
    import Advantages from './components/Advantages.vue'
    import Team from './components/Team.vue'
    import Clients from './components/Clients.vue'
    import Contacts from './components/Contacts.vue'
    import MenuFooter from './components/MenuFooter.vue'

    export default {
        name: 'app',
        components: {
            Logo,
            Humb,
            Slider,
            CursorCustom,
            Experience,
            WorksSlider,
            Advantages,
            Team,
            Clients,
            Contacts,
            MenuFooter,
            ViewLink
        },
        mounted() {
            function HeaderDark(block) {
                let scrollParam = window.pageYOffset;
                let ind = 0;
                for (let i = 0; i < block.length; i++) {
                    let blockSelfTop = block[i].getBoundingClientRect().top + pageYOffset - 60;
                    if (scrollParam >= blockSelfTop && scrollParam < blockSelfTop + block[i].clientHeight) {
                        ++ind;
                    }
                }
                if (ind !== 0) {
                    document.body.classList.add('blockDark_visible');
                } else {
                    document.body.classList.remove('blockDark_visible');
                }
            }

            let blockDark = document.getElementsByClassName('blockDark');
            if (blockDark.length) {
                HeaderDark(blockDark);

                window.onscroll = function() {
                    HeaderDark(blockDark);
                };
            }
        }
    }
</script>

<style lang="scss" src="@/assets/styles/global.scss"></style>
<style lang="scss" src="@/assets/styles/libs/swiper.min.scss"></style>
<style lang="scss" scoped>
    @import '~@/assets/styles/variables.scss';

    .section {
        padding: 116px 0;

        + .section {
            padding-top: 0;
        }

        &__head {
            margin-bottom: 50px;
            text-align: center;

            h2 {
                margin-top: 0;
            }
        }
    }

    .footer {
        background: linear-gradient(127.24deg, #66A9FF 0%, #6DE8F2 100%);
    }
</style>
