@font-face {
  font-family: 'Gilroy Regular';
  font-style: normal;
  font-weight: normal;
  src:  url('~@/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy Bold';
  font-style: normal;
  font-weight: normal;
  src:  url('~@/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Gilroy-Bold.woff') format('woff');
}