@import "variables";
@import "fontface";
@import "mixins/mixins";
@import "mixins/breakpoints";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: (19/16);
  font-family: 'Gilroy Regular', sans-serif;
  color: $color__text;
}

body {
  min-width: 300px;
  overflow-x: auto;
  //cursor: none;
}

.page {
  position: relative;
  overflow: hidden;
}

.main {
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;

  &_wide {
    max-width: none;
    padding: 0 60px;
  }

  &_narrow {
    max-width: (800px + 240px);
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: -30px -39px;

  &__el {
    width: calc(100% / 3);
    padding: 30px 39px;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  color: $color__title;
  @include font-face-bold;
}

h2 {
  margin: 1em 0 .8em;
  font-size: 28px;
}

.h2 {@extend h2}