$color__main:       #69A9FC;
$color__title:      #314359;
$color__text:       #969799;
$color__text-dark:  #233040;
$color__bg-light:   #F7F8FA;

$height__header-element:  80px;

$grid-breakpoints: (
        ph:   0,        //phone
        phx:  576px,    //phone large
        tb:   768px,    //tablet
        tbx:  992px,    //tablet large
        lt:   1260px,   //laptop
        dt:   1400px,   //desktop
        dtx:  1600px,   //desktop large
        dt2x: 2000px    //desktop xlarge
) !default;

//@include media-breakpoint-up(dt) { }
//@include media-breakpoint-down(dt) { }
//@include media-breakpoint-only(dt) { }


// elementCursorLight
// elementCursorDark

// blockChangeable
// elementCursorGrowing
// cursorMagnet